/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.box{

  border: 2px solid red;
  border-radius: 3px;
  background-color: grey;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  color: white;
}


.red{
  color: red;
}

.bold{
  font-weight: bold;
}


.center{
  text-align: center;
}

